@use "../../styles/partials/mixins.scss" as *;
.booking{
    &__header{
       font-weight: 700;
        @include pageheader;
    }
    &__calender{
    display: flex;
    align-items: center;
    flex-direction: column;
}
    &__time{
        height: 10rem;
        background: rgba(128, 128, 128,0);
        outline: none;
        height: 150px;
        width: 100px;
        overflow-y: scroll;
    }
    &__time-selection{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }
    &__time-section{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content:space-evenly;
        height: fit-content;
    }
    &__time-text{
        margin: 0;
        text-align: center;
    }
    &__button-section{
        @include box-gradient;
        width: 8rem;
        height: 10rem;
        margin: 0.5rem 0;
    }

}
.sdp{
    //Calender background
    background: rgba(128, 128, 128,0.5);
    &--square-btn{
    color: #91ECF8;
    background: rgba(128, 128, 128,0);
    }
//Calender selected date block background
    &--date-btn__selected{
        background-color: #91ECF8;
        border-radius: 50%;
        color: black;
    }

//Calender week days
    &--text__inactive{
        color:white;
    }
//Calender month date text
    &--month-name {
        color: #91ECF8;
    }
}



/// time selector code
.pf-c-input-group{
    border: none;
    outline: none;
}
.pf-c-select .booking__time{
    background: white;
    color: black;
    outline: none;
    text-align: center;
    
}
.time-picker-1637341531867xs6a2qrc2z-input::placeholder{
    background: white;
    color: black;
    outline: none;
    
}



input{
    text-align: center;
}

.pf-m-expanded{
    text-align: center;
}
.pf-c-select__menu{
    padding: 0;
}
.pf-c-select__menu{
    width: 50px;
}

.pf-c-select__menu-item{
    border-radius: 4px;
    margin-bottom: 0.25rem;
    height:fit-content;
    @include box-gradient;
    text-align: center;
    width: 100%;
}
