.on-charge__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.my, .find {
    background-color: grey; 
    color: white; 
    width: 12rem; 
    height: 7rem; 
    margin: 1rem; 
    border-radius: 0.5rem; 
}
