@use './partials/colors.scss' as *;
@use './partials/mixins.scss' as *;

html {
    background: linear-gradient($background-color, #000000,);
    height: 100%;
    width: 100%;
    color: $primary-color;
}

h3 {
    @include text-style (0.7rem, 1.8rem, 400);
}